/* #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  font-family: ‘Noto Sans’, sans-serif;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
} */

button {
  margin-bottom: 8px;
}

#changeColor {
  color: white;
  background-image: url("/images/trashcan.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  /* border: 1px solid #264289; */
}

#stackOverflow {
  color: white;
  background-image: url("/images/code.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 20px;
}

#funPages {
  color: white;
  background-image: url("/images/sara.jpg");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 20px;
}
